body {
    font-family: Arial, sans-serif;
    background-color: rgb(20, 107, 122);
    
  }
  
  .container1 {
    width: 400px;
    margin-top: 150px;
    margin-left: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 94%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .form-group input[type="radio"] {
    margin-right: 5px;
  }
  
  .form-group input[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(17, 98, 112);
    color: #fff;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 100%;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-center a {
    text-decoration: none;
    font-size: 15px;
    color: #000000;
    word-spacing: 1px;
  }
  span{
      color:  rgb(17, 98, 112);
  }
  .container h2 {
font-weight: normal; 
padding: 30px;
}

.form-group label {
font-weight: normal; 
}

.text-center a {
font-weight: normal; 
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  
  .container1 {
    width: 100%;
    margin-top: 50px;
    margin-left: 150px;
    padding: 10px;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 90%;
  }
  
  .form-group input[type="submit"] {
    height: 40px;
    width: 100%;
  }
  
  .text-center a {
    font-size: 13px;
  }
}
